= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'
= javascript_include_tag 'viewer.js'

:javascript
  $(document).ready(function() {
    !function() {
      idealResolution = {x : 600, y: 600};
      gameHistory = "#{@json}";
      
      if(gameHistory.dimensions.x > idealResolution.x || gameHistory.dimensions.y > idealResolution.y)
      {
        console.log("Cannot render this game, its resolution is incompatible");
        return false;
      }
      
      var scalingFactor = {x : Math.floor((idealResolution.x / gameHistory.dimensions.x)), y :Math.floor((idealResolution.y / gameHistory.dimensions.y))};
      $('body').prepend("<canvas id='history_viewer' width='" + gameHistory.dimensions.x * scalingFactor.x + "' height='" + gameHistory.dimensions.y * scalingFactor.y + "'> Please get a browser which supports canvas </canvas>");
      $canvas = $('canvas');
      blobWars($canvas, gameHistory, scalingFactor);
    }();
  });

%style  
  :sass
    canvas
      border: 1px solid
